<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikasiejarkom_activity">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplikasiEJarkom_Activity">
        <activity android:name=".pdfmateri4"></activity>
        <activity android:name=".pdfmateri3" />
        <activity android:name=".pdfmateri2" />
        <activity android:name=".pdfmateri1" />
        <activity android:name=".pdfkabelrj45" />
        <activity android:name=".pdfrouter" />
        <activity android:name=".pdflantester" />
        <activity android:name=".pdftangcrimping" />
        <activity android:name=".MateriActivity" />
        <activity android:name=".PengenalanActivity" />
        <activity android:name=".SoalActivity" />
        <activity android:name=".HasilKuis" />
        <activity android:name=".KuisActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>